@font-face {
  font-family: "iconfont"; /* Project id 3358632 */
  src: url('iconfont.woff2?t=1681354936724') format('woff2'),
       url('iconfont.woff?t=1681354936724') format('woff'),
       url('iconfont.ttf?t=1681354936724') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shuzi:before {
  content: "\e642";
}

.icon-fuhao-shuzishurukuang:before {
  content: "\e630";
}

.icon-24gl-minimize2:before {
  content: "\ea6b";
}

.icon-chuangkou:before {
  content: "\e664";
}

.icon-jishuxuqiuyucexitong:before {
  content: "\e670";
}

.icon-zhinengkouyuxunlian:before {
  content: "\e61d";
}

.icon-jishuxuqiuyucexitong1:before {
  content: "\e72f";
}

.icon-shuzishuru:before {
  content: "\e6d5";
}

.icon-shuzi1:before {
  content: "\e644";
}

.icon-shuzi2:before {
  content: "\e608";
}

.icon-tongjiyuce:before {
  content: "\e74f";
}

.icon-shuru:before {
  content: "\e619";
}

.icon-shuru1:before {
  content: "\e63f";
}

.icon-shuru2:before {
  content: "\e640";
}

.icon-shuru3:before {
  content: "\e621";
}

.icon-shuru4:before {
  content: "\e6b3";
}

.icon-shurushuchu:before {
  content: "\e641";
}

.icon-shuchu:before {
  content: "\e61a";
}

.icon-shuru5:before {
  content: "\e61b";
}

.icon-shuchu1:before {
  content: "\e60c";
}

.icon-shuru6:before {
  content: "\e606";
}

.icon-shuchu2:before {
  content: "\e607";
}

.icon-shuru7:before {
  content: "\e625";
}

.icon-lianjie:before {
  content: "\e659";
}

.icon-duankailianjie:before {
  content: "\e65d";
}

.icon-guanxitu:before {
  content: "\e66f";
}

.icon-guanxitu1:before {
  content: "\e706";
}

.icon-guanxitu2:before {
  content: "\e654";
}

.icon-lianjie1:before {
  content: "\e7a9";
}

.icon-shiti:before {
  content: "\e603";
}

.icon-shiti1:before {
  content: "\e62f";
}

.icon-guanxi:before {
  content: "\e64d";
}

.icon-guanxi1:before {
  content: "\e74a";
}

.icon-associate:before {
  content: "\e852";
}

.icon-relation-analysis-full:before {
  content: "\e869";
}

.icon-relation-analysis:before {
  content: "\e86a";
}

.icon-guanxi2:before {
  content: "\e65b";
}

.icon-shiti2:before {
  content: "\e7ae";
}

.icon-dangjian_dangyuanguanxizhuanjie:before {
  content: "\e674";
}

.icon-shezhi:before {
  content: "\e62a";
}

.icon-shezhi1:before {
  content: "\e601";
}

.icon-shezhi2:before {
  content: "\e62c";
}

.icon-shezhi3:before {
  content: "\e643";
}

.icon-shezhi4:before {
  content: "\e892";
}

.icon-shezhi5:before {
  content: "\e60b";
}

.icon-wenjianjia:before {
  content: "\e600";
}

.icon-duocengjiegou:before {
  content: "\e613";
}

.icon-zongji01:before {
  content: "\e62d";
}

.icon-zhuanrangzhuangtai:before {
  content: "\e63d";
}

.icon-daichuli:before {
  content: "\e62e";
}

.icon-shengchanjiagong:before {
  content: "\e605";
}

.icon-xuanzeyixuan:before {
  content: "\e63c";
}

.icon-04:before {
  content: "\e610";
}

.icon-jiegousheji:before {
  content: "\e63b";
}

.icon-fq_jiagong:before {
  content: "\e62b";
}

.icon-list_jiagong:before {
  content: "\e63e";
}

.icon-wenjianshangchuan:before {
  content: "\e616";
}

.icon-wenjian:before {
  content: "\e61c";
}

.icon-jiegou:before {
  content: "\e672";
}

.icon-tezheng:before {
  content: "\e6d2";
}

.icon-tezheng1:before {
  content: "\e6d4";
}

.icon-tezheng2:before {
  content: "\e703";
}

.icon-wenjian1:before {
  content: "\e69c";
}

.icon-wenjian2:before {
  content: "\e638";
}

.icon-wenjianjia1:before {
  content: "\ec17";
}

.icon-tezheng3:before {
  content: "\e83e";
}

.icon-zhuangtai:before {
  content: "\e653";
}

.icon-guzhangzhuangtai:before {
  content: "\e76e";
}

.icon-24gl-tags2:before {
  content: "\e87c";
}

.icon-24gf-tags4:before {
  content: "\e886";
}

.icon-24gf-tags3:before {
  content: "\e887";
}

.icon-24gl-select:before {
  content: "\e9bc";
}

.icon-24gf-select:before {
  content: "\e9c4";
}

.icon-zhuangtai1:before {
  content: "\e629";
}

.icon-xuefangfa:before {
  content: "\e614";
}

.icon-zongji1:before {
  content: "\e669";
}

.icon-fangfa:before {
  content: "\e64b";
}

.icon-xuanze:before {
  content: "\e888";
}

.icon-zuzhijiegou:before {
  content: "\e6e5";
}

.icon-tezheng4:before {
  content: "\e60e";
}

.icon-zongji2:before {
  content: "\e611";
}

.icon-zu:before {
  content: "\e617";
}

.icon-zu1:before {
  content: "\e618";
}

.icon-biaoge:before {
  content: "\e639";
}

.icon-shengchanguanli:before {
  content: "\e612";
}

.icon-jiegouhua:before {
  content: "\e604";
}

.icon-jinggaozhuangtai:before {
  content: "\e60a";
}

.icon-shaohouchuli:before {
  content: "\e6fb";
}

.icon-shuxingjiegou:before {
  content: "\e700";
}

.icon-relation:before {
  content: "\e867";
}

.icon-shengchanshebei:before {
  content: "\e615";
}

.icon-xuanze1:before {
  content: "\e71c";
}

.icon-chakanfangshi:before {
  content: "\e72b";
}

.icon-zhuangtaixiugai:before {
  content: "\e602";
}

.icon-jishuqi:before {
  content: "\e656";
}

